<%- include("partials/header") -%>

<div class="col-md-9" style="margin:auto 0; text-align:center;">
    <div class="container"></div>
        <h1 style="text-align: center;"><%= agent.id %></h1>
        <div class="form-inline" style="width: 70%; margin: 20px auto;">
            <form action="/adminHomePage/agents/<%= agent.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= agent.FirstName %>" name="FirstName" required>
                    <input class="form-control" type="text" value="<%= agent.LastName %>" name="LastName">
                    <div class="dropdown">
                        <label>Gender
                            <select name="Gender" required>
                                <option><%= agent.Gender %></option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                      </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" value="<%= agent.Email %>" name="Email" required>
                    <input class="form-control" type="text" value="<%= agent.PhnNum %>" name="PhnNum" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" value="<%= agent.Age %>" name="Age" min="0" required>
                    <input class="form-control" type="text" value="<%= agent.City %>" name="City"required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>