<%- include("partials/header-agent") -%>

<div class="col-md-9" style="margin:auto 0; text-align:center;">
    <div class="container"></div>
    <h1 style="text-align: center;"><%= property.Propid %></h1>
    <div class="form-inline" style="width: 70%; margin: 20px auto;">
        <form action="/agentHomePage/ModifyProperty/<%= property.Propid %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" value="<%= property.description %>" name="Description" placeholder="Description"required>
                <input class="form-control" type="number" value="<%= property.price %>" name="Price" placeholder="Price">
                <div class="dropdown">
                    <label>isOccupied
                        <select name="Occupied" required>
                            <option><%= property.isOccupied %></option>
                            <option>TRUE</option>
                            <option>FALSE</option>`
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= property.proptype %>" name="PropertyType" placeholder="PropertyType" required>
                    <input class="form-control" type="number" value="<%= property.bhk %>" name="BHK" placeholder="BHK" required>
                </div>
                <div class="dropdown">
                    <label>forSale
                        <select name="ForSale" required>
                            <option><%= property.forSale %></option>
                            <option>TRUE</option>
                            <option>FALSE</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= property.street %>" name="Street" placeholder="Street" required>
                    <input class="form-control" type="text" value="<%= property.locality %>" name="Locality" placeholder="Locality" required>
                    <input class="form-control" type="text" value="<%= property.city %>" name="City" placeholder="City" required>
                    <input class="form-control" type="text" value="<%= property.state %>" name="State" placeholder="State" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" value="<%= property.pincode %>" name="Pincode" placeholder="Pincode" min="0" required>
                    <input class="form-control" type="number" value="<%= property.Area %>" name="Area" placeholder="Area" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Update</button>
                </div>
        </form>
    </div>
</div>
</div>
<%- include("partials/footer") -%>